@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
   box-sizing: border-box;
}

body {
    background-color: #4883cf;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }

  .head {
    background-color: black;
  }
  
  nav {
    font-family: "Muli", sans-serif;
    background-color: #000000;
    padding: 20px;
    width: 100px;
    background-image: linear-gradient(#5290f9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
  }
  
  nav.active {
    width: 500px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
  }
  
  nav.active ul {
    width: 100%;
  }
  
  nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  
  nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
  }
  
  nav ul a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
  }

  .icon {
    background-color: #000000;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
  }
  
  .icon:focus {
    outline: 0;
  }
  
  .icon .line {
    background-color: #ffffff;
    height: 2px;
    position: absolute;
    width: 20px;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }
  
  .icon .line2 {
    top: auto;
    bottom: 10px;
  }
  
  nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }
  
  nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }

  header {
    color: rgb(111, 221, 255);
    font-size: 500%;
    margin: 0;
    padding: 20px;
    height: auto;
    text-align: center;
    background-color: #4883cf;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  }
  
  header p {
    color: rgb(255, 255, 255);
    font-size: 23%;
  }

  section.border {
    background: rgb(63, 96, 146);
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 150%;
    height: auto;
    text-align: center;
  
  }

  section {
    display: flex;
  }
  
  section.options {
    padding: 20px;
  }

  .testimonial-container {
    background-color: #4883cf;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
  }
  
  .fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
  }
  
  .fa-quote-right {
    left: 40px;
  }
  
  .fa-quote-left {
    right: 40px;
  }
  
  .testimonial {
    line-height: 28px;
    text-align: justify;
  }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
  }
  
  .user .user-details {
    margin-left: 10px;
  }
  
  .user .username {
    margin: 0;
  }
  
  .user .role {
    font-weight: normal;
    margin: 10px 0;
  }
  
  .progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
  }
  
  @keyframes grow {
    0% {
      transform: scaleX(0);
    }
  }
  
  @media (max-width: 768px) {
    .testimonial-container {
      padding: 20px 30px;
    }
  
    .fa-quote {
      display: none;
    }
  }


  footer {
    display: flex;
    background-color: #000;
    color: #fff;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: auto;
  }