@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: #f4f7f9; 
  font-family: 'Poppins', sans-serif;
  color: #333;
  overflow-x: hidden;
  margin: 0;
}

header {
  background-color: white; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 15px 30px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

.logo-and-title .logo {
  height: 50px; 
  margin-right: 10px;
}

header h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100; 
  margin: 0;
}

nav#nav {
  flex: 1;
  text-align: center;
}

nav#nav a {
  color: #001f3f; 
  font-size: 16px;
  text-decoration: none; 
  margin: 0 15px;
  transition: color 0.3s ease;
}

nav#nav a:hover {
  color: #5290f9; 
}

.cart-icon {
  color: #001f3f;
}

.cart-icon i {
  font-size: 30px; 
}

h1 {
  margin-left: 10px;
}

#return-boxes{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  gap: 20px;
  width: 100%;
}

.return-box-w-label {
  width: 50%; 
  box-sizing: border-box; 
}

.return-box, .return-status-box {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 15px;
  padding-left: 130px;
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.return-box::before {
  content: '\f48b';
  font-family: 'Font Awesome 5 Free';
  color: #1048e1;
  font-size: 4rem;
  position: absolute;
  left: 30px; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.return-status-box::before {
  content: '\f2ea';
  font-family: 'Font Awesome 5 Free';
  color: #1048e1;
  font-size: 4rem;
  position: absolute;
  left: 30px; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

#return-promise {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #1048e1;
  color: white;
  font-size: small;
  padding-left: 10%; 
  padding-right: 10%; 
  margin-top: 10px;
  width: 100%;
  height: 250px;
}

#return-promise #text-content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  max-width: 60%; 
  padding: 25px;
}

#return-promise h2 {
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 0;
}

#return-promise .logo {
  width: auto;
  height: 100%;
  margin-left: 20px; 
  padding-right: 20px;
  object-fit: contain;
}

#return-period{
  padding: 20px;
  padding-left: 30px;
}

footer {
  background-color: #001f3f; 
  color: white;
  padding: 40px;
  text-align: center;
}

footer h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content section {
  margin-bottom: 20px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin-bottom: 10px;
}